<!--    CARREGANDO TUDO DA PASTA GLOBAL STATIC-->
{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--   CARREGANDO O CSS GLOBAL-->
    <link rel="stylesheet" href="{% static 'css/geral.css' %}" />

    <!--   CARREGANDO O BOOTSTRAP-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

    <title>{% block title %}  {% endblock %}</title>
</head>
<body>

    <div class="container">
        {% block menu %}
            {% include 'menu.html' %}
        {% endblock %}

        {% block main %}  {% endblock %}
    </div>

    {% block static %}
    {% endblock %}

    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/3c4747bf61.js"></script>

</body>
</html>