{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}

    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>

        {% if object%}

            <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">
                Deletar
            </a>

            <button type="button" class="btn btn-info" onclick="usouHoraExtra({{ object.id }})">Usar hora extra</button>
            <button type="button" class="btn btn-danger" onclick="naoUsouHoraExtra({{ object.id }})">Desutilizar hora extra</button>

        {% endif %}

    </form>

    <br/>

    <p id="mensagem"></p>


{%endblock%}

{% block static %}
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>

{% endblock %}