{% extends 'base.html' %}

{% block main %}

    Banco de horas: <br/>

    {% for hora_extra in object_list %}

        <a href="{% url 'update_hora_extra_base' hora_extra.id %}">
            {{hora_extra}}
        </a>

        <a href="{% url 'delete_hora_extra' hora_extra.id %}">
            Deletar
        </a>

        <br />

    {% endfor %}

        <a href="{% url 'create_hora_extra' %}" class="btn btn-primary">
            Novo
        </a>

    {% if not object_list%}
        <h3>Não existem registros de horas extras</h3>
    {% endif %}

    <a href="{% url 'exportar_excel' %}" class="btn btn-info">Exportar Excel</a>

{% endblock %}