{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <br/>

    {% if object %}
         <!--PASSANDO ID DO FUNCIONARIO QUE FOI CLICADO-->
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success"> Adicionar Documento </a>

        <!--LISTAM DE TODOS OS DOCUMENTOS ATRELADOS-->
        {% for documento in object.documento_set.all %}
            <a href="{{documento.arquivo.url}}"> {{documento}} </a> <br/>
        {%endfor%}

    {% endif %}

    

{%endblock%}