{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <br/>

    {% if object %}
        <h2>Documentos</h2>

        <!--LISTAM DE TODOS OS DOCUMENTOS ATRELADOS-->
        <ul>
            {% for documento in object.documento_set.all %}
                <li> <a href="{{documento.arquivo.url}}"> {{documento}} </a> </li>
            {%endfor%}
        </ul>

        <!--PASSANDO ID DO FUNCIONARIO QUE FOI CLICADO-->
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success"> Adicionar Documento </a>

        <h2>Horas Extras</h2>

        <ul>
            {% for hora_extra in object.registrohoraextra_set.all %}
                <li> <a href="{% url 'update_hora_extra' hora_extra.id %}">
                    {{ hora_extra.motivo }} | {{ hora_extra.horas }}h
                </a></li>
            {%endfor%}
        </ul>

        <h4>Total horas extras disponiveis: {{ object.total_hora_extra }}h</h4>


    {% endif %}



    <h2></h2>
    

{%endblock%}