{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            Seja bem vindo {{ funcionario }}

            <a href="{% url 'logout' %}">Logout</a>
        </div>

        <div class="col-sm">
             {%if funcionario.empresa %}
                <a href="{% url 'edit_empresa' funcionario.empresa.id %}">Editar empresa</a>

            {% else %}
                <a href="{% url 'create_empresa' %}">Criar empresa</a>
            {% endif %}
        </div>

        <div class="col-sm">
            <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a>
            <a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
            <a href="{% url 'list_hora_extra' %}">Gerenciar banco de horas</a>

        </div>





    </div>


{% endblock %}